body {
  font-family: "Roboto", suns-serif;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
  color: #212121;
}

.list {
  list-style: none;
}

.hero {
  background-color: #2f303a;
}
/*------------------------ Header ------------------------- */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-dark {
  color: black;
}

.current:hover,
.current:focus {
  color: blue;
}
.nav-link,
.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #212121;
}
.link-item {
  color: #757575;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: #2196f3;
}
/*------------------------ Preference ------------------------- */
